.login {
  color: white;
  width: 50%;
  margin: auto;
  margin-top: 40px;
}

.text-muted {
  color: white !important;
}

@media (max-width: 594px) {
  .login {
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }
}
